<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @genres.each do |g| %>
				<tr>
					<td><a href="/genres/<%= g.id %>/songs"><%= g.name %></a></td>
					<td><%= g.description %></td>
					<td><%= link_to 'Edit', edit_genre_path(g), class: "btn btn-dark" %></td>
					<td><%= link_to 'Delete',
						genre_path(g),
						method: :delete,
						data: { confirm: 'Are you sure?' },
						class: "btn btn-dark" 
					%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>