<%= form_with scope: :pokemonmasters, url: pokemonmasters_path, local: true do |form| %>
 <%= form.collection_select :pokemon_id, @pokemons, :id, :name %> 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </p>

  <p>
    <%= form.submit class: "btn btn-dark"%>
  </p>
<% end %>
