<h1>Edit Master</h1>

<%= form_with(model: @master, local: true) do |form| %>
<p><%= image_tag(@master.img, height: '100', width: '100')%></p>

  <%= form.collection_select :pokemon_id, @pokemons, :id, :name %>

  <p>
    <%= form.label :img %><br>
    <%= form.text_area :img %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>