<h1>Pokedex</h1>   

<%= form_with scope: :pokemon, url: pokemon_index_path, local: true do |form| %>
    <p>
      <%= form.label :num %><br>
      <%= form.text_field :num %>
    </p>
  
    <p>
      <%= form.label :name %><br>
      <%= form.text_area :name %>
    </p>

    <p>
      <%= form.label :img %><br>
      <%= form.text_area :img %>
    </p>

    <p>
      <%= form.label :height %><br>
      <%= form.text_area :height %>
    </p>

    <p>
      <%= form.label :weight %><br>
      <%= form.text_area :weight %>
    </p>

    <p>
      <%= form.label :candy %><br>
      <%= form.text_area :candy %>
    </p>

    <p>
    <%= form.label :candy_count %><br>
    <%= form.text_area :candy_count %>
    </p>

    <p>
    <%= form.label :egg %><br>
    <%= form.text_area :egg %>
    </p>

    <p>
    <%= form.label :avg_spawns %><br>
    <%= form.text_area :avg_spawns %>
    </p>

    <p>
    <%= form.label :spawn_time %><br>
    <%= form.text_area :spawn_time %>
    </p>

    <p>
      <%= form.submit %>
    </p>

<% end %>