<div class="row">
  <div class="col s3">
  <h5>Name:</h5>
    <h3><%= @character.name %> </h3>
  </div>
  <div class="col s1">
  <h5>Level:</h5>
    <h3><%= @character.level %></h3>
  </div>
  <div class="col s2">
  <h5>Item Level:</h5>
    <h3><%= @character.ilvl %></h3>
  </div>
</div>

<h4>Jobs</h4>
<div class="row">
  <div class="col s2">
  <h5>Name:</h5>
  </div>
  <div class="col s1">
  <h5>Level:</h5>
  </div>
  <div class="col s2">
  <h5>Image:</h5>
  </div>
</div>
<%= render @character.jobs%>

<h4>Add job to the character?</h4>
<%= render 'jobs/form' %>
<br>
<%= link_to 'Edit', edit_character_path(@character), class: "waves-effect waves-light btn orange" %>
<%= link_to 'Back', characters_path, class: "waves-effect waves-light btn purple" %>