<h1>Edit pokemon</h1>

<%= form_with model: @pokemon, url: pokemon_path do |form| %>
    <p>
      <%= form.label :num %><br>
      <%= form.text_field :num %>
    </p>
  
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    
    <p>
    <%= form.label :img %><br>
    <%= form.text_field :img %>
    </p>

    <p>
    <%= form.label :height %><br>
    <%= form.text_field :height %>
    </p>

    <p>
    <%= form.label :weight %><br>
    <%= form.text_field :weight %>
    </p>

    <p>
    <%= form.label :candy %><br>
    <%= form.text_field :candy %>
    </p>

    <p>
    <%= form.label :candy_count %><br>
    <%= form.text_field :candy_count %>
    </p>

    <p>
    <%= form.label :egg %><br>
    <%= form.text_field :egg %>
    </p>

    <p>
    <%= form.label :avg_spawns %><br>
    <%= form.text_field :avg_spawns %>
    </p>

    <p>
    <%= form.label :spawn_time %><br>
    <%= form.text_field :spawn_time  %>
    </p>

    <p>
      <%= form.submit %>
    </p>

    <p><%= link_to 'Destroy', pokemon_path,
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </p>

  <% end %>