<h1>Welcome to the Pokedex</h1>

<table>
  <tr>
    <th>ID#</th>
    <th>Name</th>
    <th></th>
  </tr>

  <% @pokemons.each do |pokemon| %>
    <tr>
      <td><%= pokemon.id %></td>
      <td><%= pokemon.name %></td>
      <td><%= link_to 'Show', pokemon_path(pokemon) %></td>
      <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
      <td><%= link_to 'Destroy', pokemon_path(pokemon),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
