<h1>CREATE A NEW POKEMON</h1>

<%= form_with scope: :pokemon, url: pokemons_path, local: true do |form| %>
  <p>
    <%= form.label :Num %><br>
    <%= form.text_field :num %>
  </p>

  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Image %><br>
    <%= form.text_field :image %>
  </p>

    <p>
    <%= form.label :weight %><br>
    <%= form.text_field :weight %>
  </p>

  <p>
    <%= form.label :height %><br>
    <%= form.text_field :height %>
  </p>

  <p>
    <%= form.label :candy %><br>
    <%= form.text_field :candy %>
  </p>

  <p>
    <%= form.label :candy_count %><br>
    <%= form.text_field :candy_count %>
  </p>

  <p>
    <%= form.label :Egg %><br>
    <%= form.text_field :egg %>
  </p>

  <p>
    <%= form.label :avg_spawns %><br>
    <%= form.text_field :avg_spawns %>
  </p>
  <p>
    <%= form.label :spawn_time %><br>
    <%= form.text_field :spawn_time %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', pokemons_path %>