<h1>Pokedex</h1>

<%= form_with scope: :pokemon, url: pokemons_path, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :img %><br>
    <%= f.text_field :img %>
  </p>
  <p>
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :candy %><br>
    <%= f.text_field :candy %>
  </p>
  <p>
    <%= f.label :candy_count %><br>
    <%= f.number_field :candy_count %>
  </p>
  <p>
    <%= f.label :egg %><br>
    <%= f.text_field :egg %>
  </p>
  <p>
    <%= f.label :avg_spawns %><br>
    <%= f.number_field :avg_spawns %>
  </p>
  <p>
    <%= f.label :spawn_time %><br>
    <%= f.text_field :spawn_time %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>